@import url("https://fast.fonts.com/t/1.css?apiType=css&projectid=eab16f51-e7e4-4285-8b2b-3844b7921c78");
@font-face {
  font-family: "AvantBook";
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"), url("/fonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"), url("https://tokbox.com/fonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype"), url("https://tokbox.com/fonts/80f98a03-905d-49e6-8614-cec7c32ca4f2.svg#80f98a03-905d-49e6-8614-cec7c32ca4f2") format("svg"); }
@font-face {
  font-family: "AvantExtraLight";
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix");
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/0312a390-01c7-423e-ad0c-b5b4f25229af.woff") format("woff"), url("https://tokbox.com/fonts/16e3b729-9cc0-490e-9de3-d678f36aba08.ttf") format("truetype"), url("https://tokbox.com/fonts/2c90e8aa-95a7-463c-956c-c7fac7412d35.svg#2c90e8aa-95a7-463c-956c-c7fac7412d35") format("svg"); }
@font-face {
  font-family: "AvantMedium";
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix");
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/43b723ac-a6f2-4d5d-9d72-c50aea85ecee.woff") format("woff"), url("https://tokbox.com/fonts/9093e944-c2da-4954-953f-ca2eb3a227dd.ttf") format("truetype"), url("https://tokbox.com/fonts/e3929a31-b148-4180-91be-4b490bdac87d.svg#e3929a31-b148-4180-91be-4b490bdac87d") format("svg"); }
/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * Elements
 */
#chatroom {
  background: white;
  border: 3px solid #1ba3dd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  box-sizing: border-box; }

#title {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5; }
  #title #title_content {
    position: relative;
    width: 100%;
    height: 100%; }
    #title #title_content p {
      color: #eeeef2;
      text-align: center; }
      #title #title_content p a {
        color: #1ba3dd; }
    #title #title_content .titleText {
      width: 100%;
      min-height: 25px;
      text-align: center;
      color: white;
      font-family: "AvantGardeGothicITCW01X";
      font-weight: lighter;
      vertical-align: middle;
      line-height: 100%;
      padding-top: 5px;
      font-size: 25px; }

#displayChat {
  padding: 5px;
  overflow: auto;
  background: #EEE;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 40px; }
  #displayChat .chatEvent {
    text-align: center;
    color: #aaa; }
  #displayChat .chatMessage {
    margin: 10px 5px 5px 5px;
    font-size: 15px;
    word-wrap: break-word; }
    #displayChat .chatMessage:first-child {
      margin-top: 75px; }
  #displayChat li h4 {
    display: inline;
    font-size: 15px; }

#chatInput {
  height: 40px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0; }
  #chatInput input {
    border: 1px solid #DDD;
    background: none;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    color: #444444;
    padding-left: 45px; }
    #chatInput input:focus {
      outline: none;
      box-shadow: 1px 1px 3px #999 inset; }
  #chatInput i {
    font-size: 30px;
    position: relative;
    left: 10px;
    top: -25px;
    color: #8D8F8F;
    float: left; }
