@import url("https://fast.fonts.com/t/1.css?apiType=css&projectid=eab16f51-e7e4-4285-8b2b-3844b7921c78");
@import url("https://fast.fonts.com/t/1.css?apiType=css&projectid=eab16f51-e7e4-4285-8b2b-3844b7921c78");
@font-face {
  font-family: "AvantBook";
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"), url("/fonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"), url("https://tokbox.com/fonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype"), url("https://tokbox.com/fonts/80f98a03-905d-49e6-8614-cec7c32ca4f2.svg#80f98a03-905d-49e6-8614-cec7c32ca4f2") format("svg"); }
@font-face {
  font-family: "AvantExtraLight";
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix");
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/0312a390-01c7-423e-ad0c-b5b4f25229af.woff") format("woff"), url("https://tokbox.com/fonts/16e3b729-9cc0-490e-9de3-d678f36aba08.ttf") format("truetype"), url("https://tokbox.com/fonts/2c90e8aa-95a7-463c-956c-c7fac7412d35.svg#2c90e8aa-95a7-463c-956c-c7fac7412d35") format("svg"); }
@font-face {
  font-family: "AvantMedium";
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix");
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/43b723ac-a6f2-4d5d-9d72-c50aea85ecee.woff") format("woff"), url("https://tokbox.com/fonts/9093e944-c2da-4954-953f-ca2eb3a227dd.ttf") format("truetype"), url("https://tokbox.com/fonts/e3929a31-b148-4180-91be-4b490bdac87d.svg#e3929a31-b148-4180-91be-4b490bdac87d") format("svg"); }
/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * Elements
 */
@font-face {
  font-family: "AvantBook";
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"), url("/fonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"), url("https://tokbox.com/fonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype"), url("https://tokbox.com/fonts/80f98a03-905d-49e6-8614-cec7c32ca4f2.svg#80f98a03-905d-49e6-8614-cec7c32ca4f2") format("svg"); }
@font-face {
  font-family: "AvantExtraLight";
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix");
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/0312a390-01c7-423e-ad0c-b5b4f25229af.woff") format("woff"), url("https://tokbox.com/fonts/16e3b729-9cc0-490e-9de3-d678f36aba08.ttf") format("truetype"), url("https://tokbox.com/fonts/2c90e8aa-95a7-463c-956c-c7fac7412d35.svg#2c90e8aa-95a7-463c-956c-c7fac7412d35") format("svg"); }
@font-face {
  font-family: "AvantMedium";
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix");
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/43b723ac-a6f2-4d5d-9d72-c50aea85ecee.woff") format("woff"), url("https://tokbox.com/fonts/9093e944-c2da-4954-953f-ca2eb3a227dd.ttf") format("truetype"), url("https://tokbox.com/fonts/e3929a31-b148-4180-91be-4b490bdac87d.svg#e3929a31-b148-4180-91be-4b490bdac87d") format("svg"); }
/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
/*
 * Elements
 */
.Blur video {
  -webkit-filter: Blur(15px);
  -moz-filter: Blur(15px);
  filter: Blur(15px); }

.Sepia video {
  -webkit-filter: Sepia(100%);
  -moz-filter: Sepia(100%);
  filter: Sepia(100%); }

.Grayscale video {
  -webkit-filter: Grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

.Invert video {
  -webkit-filter: Invert(100%);
  filter: Invert(100%); }

#controlsContainer {
  position: absolute;
  bottom: 0px;
  right: 400px;
  left: 0px;
  width: 100%; }
  #controlsContainer .controlsHeader {
    position: relative;
    bottom: -1px;
    font-size: 20px;
    color: #444444;
    font-family: "AvantGardeGothicITCW01X";
    font-weight: normal;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #999999 inset;
    display: inline-block; }
    #controlsContainer .controlsHeader .headerOption {
      display: inline-block;
      font-size: 25px;
      line-height: 150%;
      cursor: pointer;
      padding: 0 5px;
      background-color: rgba(255, 255, 255, 0.4); }
      #controlsContainer .controlsHeader .headerOption.selected {
        background-color: #EEE; }
  #controlsContainer .controlsBody {
    padding-top: 5px;
    background-color: #282828;
    padding-bottom: 5px;
    padding-left: 10px; }
    #controlsContainer .controlsBody .optionContainer #controlOptionsRight {
      display: inline-block;
      position: absolute;
      right: 0;
      padding-top: 5px; }
    #controlsContainer .controlsBody .optionContainer #filtersButton {
      width: 28px;
      height: 24px;
      right: 130px;
      background: url("../img/filters-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #filtersButton:hover {
        background-image: url("../img/filters-icon-active.png"); }
      #controlsContainer .controlsBody .optionContainer #filtersButton.selected {
        background-image: url("../img/filters-icon-active.png"); }
    #controlsContainer .controlsBody .optionContainer #recordButton {
      background-image: url("../img/img-archiving_normal-icon.png");
      width: 27px;
      height: 27px;
      right: 85px; }
      #controlsContainer .controlsBody .optionContainer #recordButton:hover {
        background-image: url("../img/img-archiving_hover-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #recordButton.selected {
        background-image: url("../img/img-archiving_active-icon.png"); }
    #controlsContainer .controlsBody .optionContainer #roomLinkButton {
      background-image: url("../img/img-link_normal-icon.png");
      width: 28px;
      height: 28px;
      right: 40px; }
      #controlsContainer .controlsBody .optionContainer #roomLinkButton:hover {
        background-image: url("../img/img-link_hover-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #roomLinkButton.selected {
        background-image: url("../img/img-link_hover-icon.png"); }
    #controlsContainer .controlsBody .optionContainer #roomLinkInput {
      width: 70%; }
    #controlsContainer .controlsBody .optionContainer .popover {
      width: 200px;
      max-width: 200px; }
    #controlsContainer .controlsBody .optionContainer .popover #filtersList li button {
      background-color: #1ba3dd;
      border: medium none;
      border-spacing: 0;
      color: #26589F;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: none;
      text-indent: 0;
      font-family: "Muli", arial;
      padding: 5px;
      margin: 0px 5px 0px 5px;
      text-decoration: none;
      color: #045564;
      background: #ebebeb;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      margin-bottom: 5px;
      width: 90%;
      text-align: center; }
      #controlsContainer .controlsBody .optionContainer .popover #filtersList li button:hover {
        color: #fff;
        background: #0097ca; }
    #controlsContainer .controlsBody .optionContainer #chatButton.no-after:after {
      content: none; }
    #controlsContainer .controlsBody .optionContainer #chatButton {
      background-image: url("../img/img-chat_normal-icon.png");
      width: 25px;
      height: 24px;
      right: 0px; }
      #controlsContainer .controlsBody .optionContainer #chatButton:hover {
        background-image: url("../img/img-chat_hover-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #chatButton.selected {
        background-image: url("../img/img-chat_active-icon.png"); }
      #controlsContainer .controlsBody .optionContainer #chatButton:after {
        content: attr(data-unseen-count);
        position: absolute;
        top: -10px;
        right: -9px;
        padding: 0px 6px;
        border: 2px solid white;
        border-radius: 100px;
        background: linear-gradient(top, #ff6969 0%, red 100%);
        background: -webkit-linear-gradient(top, #ff6969 0%, red 100%);
        background: -moz-linear-gradient(top, #ff6969 0%, red 100%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 10px 0px rgba(255, 255, 255, 0.11) inset;
        background-clip: padding-box;
        font: bold 12px/18px "Helvetica Neue", sans-serif;
        color: white;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
        width: 6px;
        text-align: center; }
    #controlsContainer .controlsBody .optionContainer .option {
      font-family: "AvantGardeGothicITCW01X";
      font-size: 20px;
      line-height: 100%;
      font-weight: normal;
      color: #999999;
      cursor: pointer;
      display: inline-block;
      margin-right: 10px;
      position: absolute; }
    #controlsContainer .controlsBody #filterOptions {
      display: none; }

body {
  background: #555555; }
  body * {
    box-sizing: content-box; }
  body .container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  body #streams_container {
    position: absolute;
    top: 0px;
    bottom: 42px;
    right: 400px;
    left: 0px;
    text-align: center;
    box-sizing: border-box;
    width: 100%; }
    body #streams_container .streamContainer {
      display: inline-block;
      position: relative;
      text-align: center;
      box-sizing: border-box; }
      body #streams_container .streamContainer .OT_video-container {
        transition: width 1s;
        -webkit-transition: width 1s; }
    body #streams_container .flagUser {
      position: absolute;
      top: 10px;
      left: 0px;
      right: 0px;
      margin: auto;
      border: none;
      box-shadow: 0.15em 0.25em 0.33em rgba(0, 0, 0, 0.3);
      background-color: #C40A68;
      color: white;
      font-size: 15px;
      padding: 10px;
      border-radius: 7px;
      width: 110px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      display: none; }
  body .clickThrough {
    pointer-events: none; }

#controlOptionsRight {
  display: inline-block;
  position: absolute;
  right: 0; }

#recordButton {
  background-image: url("../img/img-archiving_normal-icon.png");
  width: 27px;
  height: 27px; }

.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-radial-gradient(rgba(117, 181, 203, 0.85), rgba(49, 96, 113, 0.85));
  background-image: radial-gradient(rgba(117, 181, 203, 0.85), rgba(49, 96, 113, 0.85));
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50; }
  .overlay-blue .dismiss-overlay {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 99;
    width: 15px;
    height: 15px;
    cursor: pointer; }
