@import url("https://fast.fonts.com/t/1.css?apiType=css&projectid=eab16f51-e7e4-4285-8b2b-3844b7921c78");
@font-face {
  font-family: "AvantBook";
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix");
  src: url("https://tokbox.com/fonts/2a334c60-3e0d-4f43-b0e9-5284ea33961a.eot?#iefix") format("eot"), url("/fonts/c68f0543-0caf-4988-b234-355520476b8c.woff") format("woff"), url("https://tokbox.com/fonts/2d4f1d98-ddb3-4acc-ae78-c8b1863f780e.ttf") format("truetype"), url("https://tokbox.com/fonts/80f98a03-905d-49e6-8614-cec7c32ca4f2.svg#80f98a03-905d-49e6-8614-cec7c32ca4f2") format("svg"); }
@font-face {
  font-family: "AvantExtraLight";
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix");
  src: url("https://tokbox.com/fonts/d042c69d-2a74-4689-9915-3c34306a3b76.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/0312a390-01c7-423e-ad0c-b5b4f25229af.woff") format("woff"), url("https://tokbox.com/fonts/16e3b729-9cc0-490e-9de3-d678f36aba08.ttf") format("truetype"), url("https://tokbox.com/fonts/2c90e8aa-95a7-463c-956c-c7fac7412d35.svg#2c90e8aa-95a7-463c-956c-c7fac7412d35") format("svg"); }
@font-face {
  font-family: "AvantMedium";
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix");
  src: url("https://tokbox.com/fonts/5daf8f81-4f5b-4b44-8fd3-91c56d20e799.eot?#iefix") format("eot"), url("https://tokbox.com/fonts/43b723ac-a6f2-4d5d-9d72-c50aea85ecee.woff") format("woff"), url("https://tokbox.com/fonts/9093e944-c2da-4954-953f-ca2eb3a227dd.ttf") format("truetype"), url("https://tokbox.com/fonts/e3929a31-b148-4180-91be-4b490bdac87d.svg#e3929a31-b148-4180-91be-4b490bdac87d") format("svg"); }

/*
 * Mixins
 */

@mixin radialBackground( $to, $from ){
  background:$from no-repeat center center fixed; /* Old browsers */
  background-image: radial-gradient(circle at 50% 50%, $from, $to);
  background-image: -webkit-radial-gradient(50% 50%, circle, $from, $to);
  background-image: -moz-radial-gradient(50% 50%, circle, $from, $to);
  background-image: -ms-radial-gradient(50% 50%, circle, $from, $to);
  background-image: -o-radial-gradient(50% 50%, circle, $from, $to);
}

/*
 * Normalize variables
 */
$legacy-support-for-ie7 : false;
$legacy-support-for-ie6 : false;

$base-font-family : "AvantGardeGothicITCW01X", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$avantFont: "AvantGardeGothicITCW01X";
/*
 * Bootstrap variables
 */
$zindexModalBackdrop : 1040;
$zindexModal : 1050;
$baseLineHeight : 20px;
$black : #000;
$white : #fff;
$app_width : 1160px;
$app_height : 860px;

$stage_width : 1080px;
$stage_height : 730px;
$stage_border : 6px;
$stage_left : (.5 * ($app_width - $stage_width)) - $stage_border;
$stage_top : 95px;

$gutter_width : (1160px - 1080px) / 2;


/*
 * Colors
 */

//index page
$darkBrown: #1e1916;
$lightBrown: #433931;
//$tb_blue: rgb(117,180,200);
//$tb_blue: #46869d;
$tb_blue: #5598b0;

$blue_lt: rgb(82,158,200);
$blue_med: rgb(58,126,166);
$blue_dark: rgb(32,94,130);
$blue_extra_dark: rgb(31,52,67);

$blue_overlay: rgba(58,126,166,0.75);
//$blue_overlay: rgba(32,94,130,0.75);

$blue_lt2: #87c1d2;


// Theme

$pink : #1ba3dd;
$warm-gray : #F2F2EC;
$dark-gray : #444;

// Element Properties

$backgroundColor : $warm-gray;
$backgroundContrastColor : desaturate(darken($backgroundColor, 9%), 3%);

$btnTextColor : white;
$btnBackgroundColor: $pink;
$btnHoverBackgroundColor : $dark-gray;
$btnShadowColor : rgba(0,0,0,0.3);

$hdrColor: $pink;
$hdrContrastColor: $white;

$inputInnerShadowColor : $btnShadowColor;

$roomShadowColor: black;
$roomBackgroundColor: white;
$roomBorderColor: $pink;

$roomAccentColor: $pink;

$overlayBlockingColor: rgba(0, 0, 0, 0.95);

$chatInputColor: $dark-gray;

/*
 * Layout
 */
$fixedPageWidth : 940px;


$light-gray : #999;

/*
 * Elements
 */
$chatRoomWidth: 400px;
$roomTitleHeight: 75px;
$roomTitleSize: 25px;
